<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anyiador Todo App</title>
    <link rel="'preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: #5C5470;
        font-family: font-family: 'Roboto Mono', monospace;
        font-size: 25px;
        padding-top: 50px
    }
    .container{
        background-color: #B9B4C7;
        margin: auto;
        max-width: 550px;
        -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 13px -4pc rgba(0, 0, 0, 0.21);
        border: rgba(0, 0, 0, 0.21) solid 4px;
    }
   
</style>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>