{% if request.user.is_authenticated %}
<p>{{ request.user }}</p>
<a href="">Logout</a>
{% else %}
    <a href="">Login</a>
<h1>testing Testing</h1>
{% endif %}

<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for todo in object_list %}
    <tr>
        <td>{{todo.id}}.        {{todo.title}}</td>
        <td><a href="{% url 'todo-detail' todo.id }">View</a></td>
        <td><a href="{% url 'todo-create'}">Add+</a></td>
        <td><a href="{% url 'todo-update' todo.id }">Edit</a></td>
        <td><a href="{% url 'todo-delete' todo.id }">Delete</a></td>
    </tr>
    {% empty %}
    <h3> No Task set yet </h3>
    <a href="">Add New Tasks</a>
    {% endfor %}
</table>
