{% extends 'todoapp/task_main.html' %}

{% block content %}
<div class="header">
    <div>
        <h1>Hello {{ request.user|title }}</h1>
        <h6>You have <i>{{ count }} incomplete task{{ count|pluralize:'s' }}</i></h6>
    </div>
</div>
{% if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}


<h3>My Todo List</h3>
</form>
<table>
    <tr>
        <th>List</th>
    </tr>
    {% for todo in task %}
    <tr>
        {% if todo.complete == True %}
        <td style="background-color: red;">{{forloop.counter}}.{{todo.title}}</td>
        {% else %}
        <td style="background-color: white;">{{forloop.counter}}.{{todo.title}}</td>
        {% endif %}

        <td>{{forloop.counter}}.        {{todo.title}}</td>
        <td><a href="{% url 'todo-detail'  todo.id %}"><i class="fa-sharp fa-regular fa-eye" title="View"></i></a></td>
        <td><a href="{% url 'todo-create' %}"><i class="fa-solid fa-plus" title="Add"></i></a></td>
        <td><a href="{% url 'todo-update' todo.id %}"><i class="fa-solid fa-pen-to-square" title="Edit"></i></a></td>
        <td><a href="{% url 'todo-delete' todo.id %}"><i class="fa-solid fa-trash" title="Delete"></i></a></td>
    </tr>
    {% empty %}
    <h3> No Task set yet </h3>
    <a href="{% url 'todo-create' %}">Add New Tasks</a>
    {% endfor %}
</table>
{% endblock content %}