<h1>testing Testing</h1>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for todo in object_list %}
    <tr>
        <td>{{todo.id}}.        {{todo.title}}</td>
        <td><a href="{% url 'todo-detail' task.id }">View</a></td>
        <td><a href="{% url 'task-create'}">Add+</a></td>
        <td><a href="{% url 'todo-update' task.id }">Edit</a></td>
        <td><a href="{% url 'todo-delete' task.id }">Delete</a></td>
    </tr>
    {% empty %}
    <h3> No Task set yet </h3>
    <a href="">Add New Tasks</a>
    {% endfor %}
</table>
